@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color:rgb(102, 101, 101);
      font-size: 1rem;

    }
    
  body {
      background-color: rgb(212, 212, 212);
      font-family: 'Poppins', sans-serif;

    }

  h1 {
      font-style: bold;
      font-size: 1.8rem;

    }

  h3 {
    margin:10px 0;

  }

   .nav-ul {
   
  display: flex;
  justify-content: center;
  padding: 30px;
  list-style: none;

}

.nav-ul a li {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #928c8c;
  cursor: pointer;
  border-radius: 6px;

}

.nav-ul a {
  margin: 0 10px;
  text-decoration: none;

}

.nav-ul a li:hover {
  background-color: coral;
}
  
.img-fishing, .img-gamming {
  height: 100%;
  width: auto;
  border-radius: 10px;

}

.img-1 {
  height: 100%;
  border-radius: 10px;
 
}

.img-1-v {
  width: 100%;
   border-radius: 10px;

}

.container {
  display:grid;
  margin: 4rem 8rem 8rem 8rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(51, 100px);
  grid-gap: 1.5rem;
    
}

.div-1 {
  display:flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 1 / 4 ;
  grid-row: 1 / 4;
   
}

.div-1-v {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    grid-column: 1  ;
    grid-row: 4 / 11;
  
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 45px;
  
}

.text h1 {
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: flex-start;
  padding: 15px 0;

}

.front-developer {
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: flex-end;
  padding:  0;

}

.one {
  grid-column: 3 / 4;
  grid-row: 1;
  justify-self: flex-end;

}

.two {
  margin: 30px 0;
  grid-column: 3 / 4;
  grid-row: 1;
  justify-self: flex-end;

}

.self {
  grid-column: 1 / 3;
  grid-row: 2;
  align-self: flex-end;

}

.div-5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
   grid-column: 1 /4;
  grid-row: 11/ 13;
  
}

.image-recipe {
  width: 23vw;
  height: 23vh;

}

.div-5-v {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
   grid-column: 1 / 2;
  grid-row: 13/ 17;
  
}

button {
  margin: 20px 0;
  padding: 7px 30px;
  color: rgba(20, 105, 216, 0.856);
  background-color:rgb(230, 230, 230);
  border-radius: 8px;
  border: none;

}

.active {
    background-color: #156bbb;
    color: #fff;
    outline: none;
    cursor: pointer;
}

button:hover {
  background-color: #156bbb;
  color: #fff;
  cursor: pointer;
}
.button {
  margin: 10px;
  
}

.div-2 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  padding:0 15px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 1 / 4;
  grid-row: 17 / 19;
  column-gap: 30px;

  }

.div-2 > h3 {
   padding: 20px 0;

  }

.wrapper-1 {
  grid-column: 1;
  grid-row: 2;
    
}

.wrapper-2 {
  grid-column: 2 /3;
  grid-row: 2;

}

.div-2-v {
    
  padding:0 15px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 1;
  grid-row: 19 / 21;

}


.div-2-v > h3 {

  padding: 10px 0;

}

.skill {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding: 0;
  
}
  
.bar {
  width: 150px;
  height: 10px;
  border: 1px solid rgb(66, 63, 63);
  border-radius: 4px;

}
.react {
  
  width: 130px;
  height: 9px;
  background-color:  rgba(47, 128, 237, 0.7);
   
}
.javascript {
  width: 130px;
  height: 9px;
  background-color:  rgba(47, 128, 237, 0.7);
   
}
  
.css {
  
  width:140px;
  height: 9px;
  background-color:  rgba(47, 128, 237, 0.7);
   
}
  
.vue {
  
  width: 110px;
  height: 9px;
  background-color:  rgba(47, 128, 237, 0.7);
   
}

.react {
  
  width: 100px;
  height: 9px;
  background-color:  rgba(47, 128, 237, 0.7);
   
}

.redux {
  
  width: 140px;
  height: 9px;
  background-color:  rgba(47, 128, 237, 0.7);
   
}
  
.react-native {
  width: 120px;
  height: 9px;
  background-color:  rgba(47, 128, 237, 0.7);
   
  }
  
.div-9 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 1 / 4;
  grid-row: 21/ 24;

}

.div-9-text {
grid-column: 1 /2;

}

.how-to {
  padding: 20px 0;

}

.img-blog {
  width: 23vw;
  justify-self: flex-end;
  margin-right: -20px;
  padding-top: 15px;

}

.div-9-v {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 1;
  grid-row:  24 / 28;
    
}

.div-9-text-v {
  padding-right: 15px;

}

.how-to {
  grid-column: 1 / 4;
  grid-row:  3 / 4;
  align-self: flex-start;
  
}

.img-blog {
  justify-self: flex-end;
  margin-right: -20px;
  padding-top: 15px;

}

.div-10 {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  grid-column: 1 / 4;
   grid-row: 28 / 31;

}

  .adidas {

    padding: 15px;

}
  
  .nivea {
    padding: 0 15px;
   
}

   
.div-10-v {
  
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
    
  grid-column: 1;
  grid-row: 31 / 38;
  
}

.div-11 {

  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 1 /4;
  grid-row: 38 / 41;
  
}

.div-11-v{

  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;*/
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  height: max-content;
  grid-column: 1;
  grid-row: 41 / 46;
  
}

.hobby-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.hobby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.img-fishing, .img-gamming {
  width: 22vw;
  height: auto;
  padding: 10px;
  border-radius: 30px;

}
  
.div-4 {
  /*display: flex;
  flex-direction: column;
  align-self: flex-end;*/
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  grid-column: 1 / 4;
  grid-row: 48 / 49;
  height: max-content;
  width: 100%;

  }

  .div-4-v {
    /*display: flex;
    align-items: center;*/
   /* padding: 20px;*/
    background-color: #fff;
    border-radius: 10px;
    grid-column: 1 / 4;
    grid-row: 49/ 50;
    width: 100%;

  }

  .div-4-v p {
    margin: 10px;
  }

  .div-12 {
    display: grid;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 50 / 51;
  
  }
  
  .div-12 button {
  
   /* font-size: 0.6rem ;*/
    margin: 0 5px;
    padding: 10px;
    border: none;
  /*  border-radius: none;*/
   
  }
  
  .div-12-buttons {
    grid-column: 1/3;
    align-self: center;
    justify-self: flex-start;

  }
  
  
  .fas {
    color: #ffffff;
  }

  .potpis {
    text-align: center;
    color:coral;
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 15px;
  
  }
  .potpis a {
    text-decoration: none;
    color:coral;
    font-size: 1.2rem;
  
  }

